<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627390511181-95bec1omn3gco24eg480sbi9ojd84d75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627390511181-95bec1omn3gco24eg480sbi9ojd84d75</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>627390511181-8i4o7ecsj13id5evq467234jpfin74ej.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBuC1uRIuGnBokVgkl_x_LtqXjA-u-Jdsc</string>
	<key>GCM_SENDER_ID</key>
	<string>627390511181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rensawamo.mindmapapp</string>
	<key>PROJECT_ID</key>
	<string>mindmaapp</string>
	<key>STORAGE_BUCKET</key>
	<string>mindmaapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627390511181:ios:d8a08dbaf9c3888c474404</string>
</dict>
</plist>